<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        <main>
            <h2 style="padding:10 px">You are not registered please register first.</h2>
        <form  method="post" >
            <h1>Register Now</h1>
          <input type="text" name="name" placeholder="Name">
          <input type="email" name="email" placeholder="Email">
          <input type="password" name="password" placeholder="password">
          <button type=""submit>Sign up</button>
        </form>
        </main>
    </div>
</body>
</html>